


div {
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}


#lndingpg_survey_list, #lndingpg_create_survey_button, #lndingpg_view_dashboard_button {
  margin: auto;
  max-width: 1020px;
  text-align: center;
}
