
#result,
#page-header,
#modal-message {
  margin: auto;
  text-align: center;
}

#lndingpg_survey_list,
#lndingpg_create_survey,
#lndingpg_view_dashboard {
  margin: auto;
  max-width: 1020px;
}

#lndingpg_survey_list,
#lndingpg_view_dashboard {
  text-align: center;
}

footer {
  text-align: center;
}

#banner {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000098;
}

.team-logo {
  height: 40px;
  width: 222px;
}

.main-logo {
  height: 70px;
  width: 154px;
}
